*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: paleturquoise;
    text-align: center;
    
}

button{
    padding:10px;
    background-color: palegoldenrod;
}